{% extends 'chats/base.html' %}



{% block title %} Trending localchats {% endblock %}




{% block content %}



	<div class="row">

		<div class="col-xs-1">




		 </div>
		<div class="col-xs-10">

		<div class="selection">

		<a href="{% url "trending-globalchats" %}"> <span class="select3">Global Chats</span></a>
		<a href="{% url "trending-topics" %}"><span class="select1">Topics</span> </a>
		<a href="{% url "trending-localchats" %}"><span class="select2">Local Chats</span> </a>
		</div>

		</div>







		<div class="col-xs-1"> </div>

	</div>


	<div class="row">
		<div class="col-xs-1"> </div>


		<div class="col-xs-10">


            {% for localchat in object_list%}
			


			<div class="trending_post_canvas">


				<div class="left_arrow_canvas"> 


					<!--<button> <span class="glyphicon glyphicon-arrow-up"></span> </button>-->



				</div>

				<div class="the_post"> 


					<div class="the_post_contents"> 

						<div class="avatar_canvas"> 


							<img class="the_post_logo img-circle" src="{{localchat.get_absolute_url_for_avatar}}">




						</div>


						<div class="post_info">


							<div class="the_post_title">


								<a href="{{localchat.get_absolute_url}}"> {{localchat.about}} </a>
								<a class="the_post_chatgroup" href="{{localchat.chatgroup.get_absolute_url}}">&nbsp {{localchat.chatgroup.name}}</a>





							</div>

							{% if localchat.get_the_most_recent_message %}

							<div class="the_post_recent_message"> 


								<div class="the_post_message_avatar">


									<img class="small_avatar img-circle" src="{{localchat.get_the_most_recent_message.get_url_for_avatar_of_message_sender}}">




								</div>

								<div class="the_post_message_text"> 
										{% if topic.get_the_most_recent_message.get_message_type == "text" %}
										<span>

												{{topic.get_the_most_recent_message.short_text}}


										</span>

										{% elif topic.get_the_most_recent_message.get_message_type == "photo" %}

											<span> {{topic.get_the_most_recent_message.user.username}} shared a photo   </span>
											
										{% endif %}



								</div>

								<div style="clear:both"> </div>


							</div>

							{% endif %}


						</div>

						<div style="clear:both">  </div>



					</div>
					
					<div class="localchat_rating the_post_rating">


						<button id="localchat_button_{{localchat.id}}" class=" 


										{% if request.user in localchat.participants.all %}

										fav_button


										{% else %}

										fav_button_pale


										{% endif %}



									fav_localchat" data-id="{{localchat.id}}">
										
									<i class="fa fa-star" aria-hidden="true"></i>


						</button>

						<span id="number_of_favs_{{localchat.id}}"> {{localchat.get_number_of_participants}} </span>

							

					 </div>
 

				</div>

				<div class="right_arrow_canvas">


				<!--<button> <span class="glyphicon glyphicon-arrow-down"></span> </button> -->



				</div>

				<div style="clear:both">  </div>



				

				
			</div>

			<div style="clear:both">  </div>


            {% endfor %}
			<div style="clear: both"> </div>




		</div>

		<div class="col-xs-1"> </div>


	</div>






{% endblock %}



<!--

<h1> Trending localchats </h1>


<ul>


{% for localchat in object_list %}


    <h2> localchat number {{localchat.id}}</h2>


    The name of the localchat  <strong>{{localchat.name }} </strong><hr>
    What the localchat is about <strong> {{localchat.about }}</strong> <hr>

    Chatgroup {{localchat.chatgroup}}<hr>



    What the chatgroup is about ---- {{localchat.chatgroup.about}}






{%endfor%}





</ul>

-->
