body {

  font-family: "San Francisco", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

 }







.navbar_custom {
  
  background: #F8F8F8 !important; 

}

.squarify {

width: 50px;
height: 50px;

}


a {
    text-decoration: none;
    color: inherit;

}

a:hover {
    text-decoration: none;
    color: inherit;
    

}

.follow_button {
  background-color: rgba(0,0,0,1);
  color: white;
  font-weight: bold;
  height: 31px;
  border-radius: 3px;
  line-height: 20px;
  width: 220px;
  max-width: 220px;
  font-size: 14px;
  box-shadow: none;
  border: none;
  width: 200px;


}

.follow_button:hover {
  background-color: black;
}



.follow_button:active,.follow_button:focus  {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


#stats {
  margin-top: 20px;
  font-size: 14px;
  

}


.bold {

font-weight: bold;


}


.astat {
  margin: 5px;
}

#about_chat {


margin-top: 10px;

}


.top_message {
  margin-top: 10px;



}

.text {
  
  opacity: 0.5;
  font-weight: normal;
  line-height: 16px;
  
}





.text_below {
  
  opacity: 0.7;
  font-weight: normal;
  line-height: 16px;
  margin-left: 5px;
}




.heart {
  color: red;

}

.arrows {
  opacity: 0.5;
  
}

.up-down {
 
 margin-top: -7px; 

}





.chat_info_container {
  background-color: #fafafa;
  border: none;
  box-shadow: none;

  

}

.post {

  max-width: 690px;
  margin-left: auto;
  margin-right: auto;


}

.chat_info {

 margin-left: auto;
 margin-right: auto;

 max-width: 590px;


 }

.avatar {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.username {
  text-align: center;
  font-weight: 200;


}

.user_describtion  {
  text-align: center;
  font-weight: 400;
  

}

.user_stats {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: 200;

}


.number {
  font-weight: 400;

}

.user_post {
  margin-top: 30px;
  max-width: 690px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.username_small {
  margin-left: 15px;
  font-weight: 600;
}

.chat_name_small {
  opacity: 0.5;
  margin-left: 3px; 
}



.user_message {
  margin-left: 45px;
}


.likes_comments {
  margin-left: 45px;
}


.comment_icon {
  color: #B3B3B3;
  margin-left: 5px;
}


.time_uploaded {
  text-align: right;
  font-size: 14px;
  opacity: 0.5;
  float: right;
}


.likes_comments > hr {
  border-top: 1px solid #979797;
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .context {
    display: none;
  }
} 

.context {
  float: right;
}

.selection {
  
  text-align: center;
}

@media screen and (max-width: 768px) {


.select1, .select2, .select3 {
  margin-left: 10px;
  font-size: 18px;
  
}

}

.select1, .select3 {
  opacity: 0.3;

}

.select2 {
  font-weight: 500;
}

@media screen 
and (min-width : 768px) {

.select1, .select2, .select3 {
  margin-left: 10px;
  font-size: 24px;
  
}


}



.trending_post {

  margin-top: 50px;
  max-width: 830px;

 
  max-height: 114px;
  margin-left: auto;
  margin-right: auto;

  

}


.arrow {

  font-size: 30px;
  opacity: 0.5;

}

.arrow_up {
  float: left;
}

.trending_post_content {

  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px rgba(151,151,151,0.3) solid;
  overflow: hidden;


  

}

.trending_logo {
 

width: 70px;



}

.trending_post_name {

  margin-left: 90px;
  

}

.trending_top_message {
  display: block;
  margin-top: 5px;
  


  
}

.message_content {
  margin-left: 40px;
  font-size: 80%;
  display: block;
  opacity: 0.5;

}

.trending_post_new {
  margin-top: 20px;
}



@media screen 
and (max-width : 1024px) {

.arrow_trending_down, .arrow_trending_up {
  display: none;
}


}


.number_of_likes {
  color: black;
  font-weight: 400;
  font-size: 13px;
  margin-left: -7px;
  margin-bottom: 4px;

}




.arrow_trending_down {
  
  font-size: 50px;
  margin-top: -75px;

}


.arrow_trending_up {
 
  font-size: 50px;
  margin-top: 30px;
  margin-left: 0px;
}


@media screen and (max-width:992px) {
  .left_section {
    display: none;
  }

  .right_section {
    display: none;
  }
}

.middle_section {
  max-width: 701px;
}




.left_section h4 {

text-align: center;
opacity: 0.5;
font-weight: 300;
font-size: 20px;

}

.left_section .panel .heading h5 {
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  font-weight: 300;

}



.heading {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 65px;
  background-color: #D2D2D2;
  border-radius: 20px 20px 0px 0px;



}

.local_chats_text {

color: rgba(0,0,0,1);
font-weight: 400;


}

.local_chat_content {
  
}


.local_chat_content h5 {
  text-align: left;
  font-weight: 400;
}

.star {
  opacity: 0.5;
  color: #231F1F;
}


.number_of_favs {
  font-size: 14px;
}

.local_chat_message p {
  font-size: 10px;
  margin-left: 75px;
  
}





.chat_title h4 {

  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  font-weight: 300;


}

.chat_title h5 {

  font-size: 14px;
  text-align: center;
  opacity: 0.3;
  font-weight: 400;



}


.chat_title {

width: 100%;
margin: auto;





}

.right_icons {
  
  float: right;
  font-size: 20px;
  margin-top: 10px;
  opacity: 0.7;
}

.local_chat_name {
  margin-left: 5px;
}


.messages_wrapper {
  overflow: none;
  position: relative;
  width: 100%;
  padding: 0px;
  height: 500px;
  border-radius: 20px;
  
}

.chat_messages {
    
    overflow:   auto;
    position:   absolute;
    bottom:     0;
    width:      100%;
    max-height: 500px;
    padding: 20px;
    overflox-x: hidden;
    overflow-y: scroll;



 
}



.msg h5 {
  margin-left: 50px;
  font-size: 14px;
}


.msg .time {

  font-size: 10px;
  opacity: 0.5;
  margin-left: 5px;
}


.msg_body {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  margin-left: 50px;
  font-weight: normal;
  font-size: 12px;
}


.right_section h4 {

text-align: center;
opacity: 0.5;
font-weight: 300;
font-size: 20px;

}

.message_paperclip {

  float: left;
  width: 7%;

  font-size: 24px;
  font-weight: 600;
  border: none !important;
  background-color: inherit !important;
  color: #231F1F;
  opacity: 1;

  padding: 0px;
  margin: 0px;


}

.message_clip input {
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 30px;
  width: 100%
  padding: 20px;
  
  width: 88% !important;

}

.send_message input:focus {
  box-shadow: none;
}

.message_clip {
  width: 100%;
  
}

.send_message_button {

  width: 5%;
  float: left;

 }




.chat_info_right {
  padding: 0px;
  height: 500px;
  border-radius: 20px;
  text-align: center;
}





.fractal_brend {
  width: 50%;
  margin: auto;
  color: rgba(0,0,0,1);
  text-align: center;
  
  font-size: 50px;

}




.sign_in {
  
  width: 80%;
  margin: auto;
}


.sign_in form input:not(#id_remember)  {
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 35px;
  box-sizing: border-box;
  padding: 9px;
  border: 1px solid #efefef;
  font-size: 14px;
  border-radius: 3px;
  color: black;
  display: block;
  background-color: rgba(255,255,255,1);
  
 
  

 }


.remember_me_p  {
  

  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 14px;

  color: black;
  


 }


.sign_in .forgot_password {

  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 14px;

  color: black;


}





 .sign_in label[for="id_login"], .sign_in label[for="id_password"]  {

  display: none;

 }

 .sign_in form input[type=password] {
  margin-top: 5px;
 }


 .sign_in form button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  height: 30px;

 }


  .sign_in form input:focus {
    
    outline: none;
    border: 1px solid #b2b2b2;

  }

 .sign_in form button:focus {


 outline:0;
 background-color: rgba(0,0,0,0.7);



 }


.sign_in form input::placeholder {
  
  color: #8E8E8E;
}

.sign_in a {
  
  color: black;

}


.sign_in a:hover,.sign_in a:active  {
  
  text-decoration: none; 
  
  font-weight: 500;


}

.forgot {
  margin: auto;
  
  text-align: center;
  margin-top: 10px;
}
  

.sign_in h5 {
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 500; 
}

.sign_up input {

  margin-top: 10px;

}



.sign_up {
  margin: auto;
  text-align: center;
}




.c-g-i {


  max-width: 400px;
  margin: auto;
  padding: 10px;
  align-content: center;



}


.c-g-i-inner {


  
 }

.c-g-i img {

  width: 100px;

  height: 100px;
}


.main-info h3 {



}


.main-info {

  margin-left: 110px;
}

.follow-btn {

  width: 100%;
  max-width: 173px;
  margin: auto;
  background-color: black;
  color: white;
  margin-top: 5px;
  font-weight: 500;
  outline: none

}


.follow-btn-big {

  width: 100px;
  background-color: black;
  color: white;
  font-weight: 500;
  outline: none;
  margin-left: 10px;


 }

.follow-btn-big:hover, .follow-btn-big:focus  {
  color: white;
}


.follow-btn:hover {
  color: white;

}

.follow-btn:focus {

  color: white;
  outline: none;

}

.follow-btn:active {
  outline: none;

}

.clear {
  clear: both;
}

.other-info {

  margin-top: 5px;
}


.followers span, .local-chats span, .topics span {

  font-weight: 500;

}

.local-chats, .topics {
  margin-left: 3px;
}
.group-stats, .group-about {
  font-size: 15px;
  margin-left: 10px;

}

.group-about {
  margin-top: 5px;
}

@media (min-width: 768px) {


  .c-g-i img {

  width: 130px;
  height: 130px;
}


.follow-btn {
  display: none
}


.clear {
  clear: none;
}



.c-g-i {


  max-width: 600px;
  min-width: 600px;





}

.clear-medium {

  clear:both;
}


.main-info h4 {
  font-size: 22px;
}

.main-info {
  margin-left: 10px;
}

.info {
  margin-left: 150px;
}

.group-stats, .group-about  {
  margin-top: 15px;
  font-size: 16px;
}


}







@media (max-width: 768px) {

  .follow-btn-big {
    display: none;
  }
}


.chatgroup_localchats {

    display: none;


}


@media (max-width: 768px) {

  .follow-btn-normal {
    display: block;
  }
}


#listOfChats {

  height: 500px;
  border-radius: 20px;

  
}



.chat_room_info {

background: none;

padding: 5px;




}

.chat_room_info i {

  font-size: 24px;

}


.like {


  border: none;
  
}


.share {

  border: none;
}


.red_heart {

  color: red;

}


.empty_heart {

  color: black; /* This is more the outline when we use a heat without a fill  */
}


.half_opacity {

  opacity: 0.5;

}


.heading_1 {

  width: 1%;
  float: left;
  
  height: 100%;


}



.heading_2 {

  width: 98%;
  float: left;
  
  height: 100%;



}

.heading_21 {

  height: 65%;
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.5);


  padding-top: 7px;



  

}

.heading_22 {

  height: 35%;


  color: rgba(0,0,0,0.3);
  text-align: center;
  font-size: 16px;
  

  

  

}

.heading_22 a {

 color: inherit;
 margin-bottom: 5px;

}

.heading_22 a:hover {

 text-decoration: none;

}


.heading_3 {

  width: 1%;
  float: left;
  
  height: 100%;


  /*padding: 7px;*/

}






.modal_buttons {

  float: right;
  margin-top: 5px;
}


#middle_heading  {


  background-color: #d2d2d2;
}


.participants_heading {

  text-align: center;
  font-size: 18px;
  padding-top: 20px;



}


.participants_heading span {

  opacity: 0.5;
}



.related_heading_top {

  height: 50%;
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0,0.5);
  padding-top: 10px;

} 


.related_heading_bottom {

  height: 50%;
  
  
  text-align: center;
  padding-top: 7px;
} 




.show_button {
  
  border: none;
  background: none;
  font-size: 14px;
  color: rgba(0,0,0,0.7);

}


.chatroom_panel {

  border-radius: 22px;
}

#go {
  border-radius: 0px 20px 20px 0px;
}






.posts_container {

  width: 100%;
  padding: 10px;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;

  

  


}



.trending_post_canvas {

  

  width: 690px;
  
  /*height: 150px;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 
  


}


















.the_post_contents {

  height: 80%;
  background-color: #F8F8F8;
  border-radius: 7px;
  border: solid 1px rgba(151,151,151,0.3);
  padding: 5px;

  box-shadow: 2px 2px #C0C0C0;


}






.avatar_canvas {

  float: left;
  width: 15%;
  padding: 5px;
  
  height: 100%;
  padding-top: 15px;


}


.the_post_logo {

  width: 70px;
  height: 70px;
  margin: auto;


}


.post_info {


  float: left;
  width: 85%;
  
  padding: 5px;
  height: 100%;

}

.the_post_title {

  height: 60%;
  
  padding: 10px;
  padding-bottom: 0px;



}


.the_post_title a {

  color: black;
  text-decoration: none;
  font-weight: 440;

}


.the_post_chatgroup {

    opacity: 0.35;

}

.the_post_recent_message {

  height: 40%;
  padding: 5px;
  padding-bottom: 0px;
  
}


.the_post_message_avatar {

  float: left;
  width: 8%;
  
  padding: 5px;
  height: 100%;

  
  

  
  
}


.small_avatar {

  height: 30px;
  width: 30px;
}


.the_post_message_text {

  float: left;
  width: 92%;
  height: 100%;
  padding: 5px;
  padding-left: 7px;
  


  color: rgba(0,0,0,0.5);
  font-weight: 440;
  font-size: 12px;

  overflow-x: hidden;

  
  
}


.text_color_black {

  color: black !important;

}






.the_post_rating {

  height: 20%;
  padding: 5px;
  text-align: center;
  font-weight: 450;
  font-size: 16px;
  color: rgba(0,0,0,0.5);

} 


.the_post_rating span {

  margin-right: auto;
  margin-left: auto;

}



.left_arrow_canvas {

  float: left;
  width: 0%;
  
  height: 100%;
  

  

}


.left_arrow_canvas button {

  height: 100%;
  width: 100%;
  
  font-size: 50px;
  color: rgba(0,0,0,0.5);

  border: none;
  background: none;


}





.the_post {
  float: left;
  width: 100%;
  
  height: 100%;



  
  
}


.right_arrow_canvas {

  display: none;
  float: left;

  width: 0%;
  
  height: 100%;


  

  
  
}


.right_arrow_canvas button {

  height: 100%;
  width: 100%;
  font-size: 50px;
  color: rgba(0,0,0,0.5);

  border: none;
  background: none;

}


.selection a {

  color: black;
  text-decoration: none;

}


.small_arrow {

  text-decoration: none;
  color: rgba(0,0,0,0.5);

  

}


@media (min-width: 768px) and (max-width: 992px) { 

.trending_post_canvas {

  

  width: 500px;
  

  
  
}

.the_post_logo {

  width: 60px;
  height: 60px;

}

.small_avatar {

  width: 20px;
  height: 20px;
}


.left_arrow_canvas button {

  font-size: 40px;
}

.right_arrow_canvas button {

  font-size: 40px;
}

 }




@media (min-width: 576px) and (max-width: 768px) {

.trending_post_canvas {

  

  width: 400px;
  

  
  
}

.right_arrow_canvas {

  display: none
}


.left_arrow_canvas {

  display: none
}


.the_post {

  width: 100%;
}


.the_post_logo {

  width: 60px;
  height: 60px;

}

.small_avatar {

  width: 20px;
  height: 20px;
}

.small_arrow {

  display: inline;
}




}



@media (min-width: 375px) and (max-width: 576px) {


  .trending_post_canvas {

  

  width: 270px;
  

  
  
}


.right_arrow_canvas {

  display: none
}


.left_arrow_canvas {

  display: none
}


.the_post {

  width: 100%;
}


.the_post_logo {

  width: 45px;
  height: 45px;

}

.small_avatar {

  width: 15px;
  height: 15px;
}


.small_arrow {

  display: inline;
}



} 


@media (max-width: 375px) {


 .trending_post_canvas {width: 220px;}



.right_arrow_canvas {

  display: none
}


.left_arrow_canvas {

  display: none
}


.the_post {

  width: 100%;
}


.the_post_logo {

  width: 35px;
  height: 35px;

}

.small_avatar {

  width: 15px;
  height: 15px;
}


.small_arrow {

  display: inline;
}
  



}



.red {

  opacity: 1;
  color: green;

}


.black {

  opacity: 1;
  color: red; /*  change the class names to avoid confusion*/
  
}


.the_post_rating a:hover {

  color: inherit;

}


.the_post_rating a:focus {

  color: inherit;

}


.post_comments {

  
  padding: 0px;

 }


.a_comment {

  margin-left: 0px;
}

.username_comment_small {

  font-weight: 600;


}

.comment_input {

  width: 100%;
  background: none;
  border: none;

 }


 .comment_input:focus {

  box-shadow: none;
  outline: none;
  border: none;
 }

 .divides_comments_from_input {

  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5 !important;

 }


 .load_more_comments {

  text-decoration: none;
  color: rgba(0,0,0,0.7);

 }

  .load_more_comments:hover {

  text-decoration: none;
  color: rgba(0,0,0,0.7);

 }

 .load_more_comments:active {

  text-decoration: none;

 }


 .load_more_comments:focus {

  text-decoration: none;

 }

.post_like_button {

  background-color: inherit;
  border: none;
  padding: 0;


 }



 .post_like {

  background-color: none;

  }



.edit_profile_button {

  background-color: black;
  color: white;
  font-weight: 500;


}

.edit_profile_button:hover {

  color: white;
 }

 .edit_profile_button:focus {

  color: white;
 }



.panel-body-adjusted {
  padding: 5px;



  background-color: white;
}

.related_chats_list {

  height: 93%;

  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;


 }



.related_chat {

  height: 40px;
  margin-bottom: 10px;





 } 


.related_chat_avatar {

  float: left;
  width: 18%;

  height: 100%;
  padding: 3px;
}


.related_chat_avatar img {

  width: 32px;
  height: 32px;
  margin-left: 3px;

}


.related_chat_content {

  float: left;
  width: 82%;
  height: 100%;

}


.related_chat_header {

  height: 45%;

  
  line-height: 15px;
  padding-left: 5px;



 }


 .related_chat_header a {

  font-size: 12px;


 }

.related_chat_message {


  height: 55%;

}


.related_chat_header button {

  font-size: 12px;
  background-color: inherit;
  border: none;
  height: 14px;
  width: 15px;
  padding: 0px;
  



 }


 .related_chat_header span {

  font-size: 12px;



 }



 .recent_message_avatar {

  float: left;
  width: 10%;

  height: 100%;



  }

.recent_message_avatar img {

  width: 14px;
  height: 14px;
  margin-left: 2px;

}



.recent_message_content{

  float: left;
  width: 90%;
  font-size: 9px;

  height: 100%;
  line-height: 24px;
  color: rgba(0,0,0,0.5);


}




.recent_message_content span {

  margin-left: 3px;

}



.fav_button_pale {

  color: rgba(35, 31, 32, 0.5);


 }


.fav_button {

  color: black;


 }

.profile_followers_modal {




} 


.followers_header {

  padding: 15px;
  font-size: 18px;
  font-weight: 500;

}


.followers_body {

  
  padding: 5px;
  height: 500px;
}




.follower_item {

  
  margin-top: 10px;
  height: 40px;
  padding: 3px;


}


.follower_avatar {

  float: left;
  margin-top: 2px;
  margin-left: 3px;

}


.follower_info {

  float: left;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 7px;



 }

.follow_button_modal {

  float:right; 
  background-color: black;
  color: white;

} 


.follow_button_modal:hover, .follow_button_modal:active, .follow_button_modal:focus {

  color: white;

} 

.localchat_rating button {

  font-size: 16px;
  background-color: inherit;
  border: none;
  height: 14px;
  width: 15px;
  padding: 0px;
}

.msg_body a {

  color: blue !important;
  

}

.msg_body a:hover {

  text-decoration: : underline !important;
  

}

.user_message a {

  color: blue !important;

 }


.user_message a:hover {

  text-decoration: : underline !important;

 }


.chat_info_buttons {



  padding: 0px;
  margin-bottom: 5px;

  display: inline-block;



  }


.chat_info_right_about {

  margin-bottom: 5px;

  width: 100%;
  text-align: left;
  padding: 5px;

}


.about_sign {

  font-size: 14px;
  color: rgba(0, 0, 0, .40);
  text-align: left;

  margin-bottom: 0px;

}

.participants {

  padding: 5px;

}

.participants_sign {
  margin-bottom: 10px;
}


.participant_avatar {

  float:left;
}


.participant_info {

  float: left;
  font-weight: 400;
  line-height: 30px;
  margin-left: 10px;
}

.participant h5{
  
  margin-left: 40px;
  line-height: 30px;
  font-weight: 400;
  
}

.participant hr {
  border-top: 1px solid #979797;
  opacity: 0.3;
  margin-top: 10px;

  
}

.chat_info_right_avatar {

  padding: 5px;
}


.chat_info_right_avatar img {

  height: 50px;
  width: 50px;
}



.fav_localchat {

  font-size: 12px;
  background-color: inherit;
  border: none;
  height: 14px;
  width: 15px;
  padding: 0px;
  



 }


 .fav_localchat_span {

  font-size: 12px;

 }


.admin_sign {

  padding-left: 5px;


  }


.chat_info_right_hr {

  color: #E5E5E5 !important;
  margin-top: 10px;
  margin-bottom: 10px;
}  


.button_black_bg {
  background-color: black;
  border: none;
}

.button_black_bg:hover {
  background-color: black;

}

.button_red_bg {
  background-color: red;
  border: none;
}


.button_red_bg:hover {
  background-color: red;
}



.hidden_chat_image_input {

  display: none !important;

}

.chat_upload_options li {

  height: 25px;
  padding: 4px;

}

.uploaded_chat_image {

  max-width: 80%;

  max-height: 200px;
  border-radius: 4px;
  margin-left: 10px;

 }

.uploaded_image_post { 


  margin-left: 0px;
  
 } 


.input_new_chatgroup {

  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.new_chatgroup { 

  margin: auto;


 }

.new_chatgroup #id_avatar {

display: none; } 


.new_group_page_title {



  color: rgba(0,0,0,1);
  text-align: center;
  
} 


/* Adjustments to the New Topic page 

.new_topic label[for=id_name], label[for=id_about] {

  display: none;


}

.form-group-cq p, .form-group-cq {
  margin-bottom: 0px; 
}
*/

.chatgroup_search_results {
    
    margin-top: 0px;
    float: none;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: static;
    margin-bottom: 10px;

}

.result_item {

  padding: 5px;

}

.result_item:hover {

  background-color: rgba(0,0,0,0.3);
}



.input_a_message_textarea {

  width: 85% !important;
  


  border-radius: 20px 0px 0px 20px;


  box-sizing: border-box;
  resize: none;


}


.post_comment_like_button {

  background-color: inherit;
  border: none;
  padding: 0;


 }


.post_comment_like {

  background-color: none;



 }


.loading_wheel {

  height: 20px;
  width: 20px;
  
  

}

.dont_display {
  display: none;
}

/* Notifications related CSS */

.notifications_container {


  max-height: 362px;
  min-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  white-space: normal;
  width: 500px;

}


.display_rest_of_post {
    

    color: #003569 !important;
    text-decoration: none;

}

