<!DOCTYPE html>
<html>
<head>
	<title>Artur Begyan</title>




	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
  
</head>
<body>

<div class="container">


	<div class="fractal_brend">



		<span>Fractal</span>


	</div>


	<div class="sign_in">


		<form method="post">

			{% csrf_token %}
			

		
			<input type="text" name="username" placeholder="Username" maxlength="30"> 

			<input type="password" name="password" placeholder="Password" maxlength="30"> 


			<button type="submit">Log in</button>



			<div class="forgot">
			<a href="">Forgot username or password?</a>

			</div>


			<div class="sign_up">
			 <span>Don't have an account?</span> 

			 <a href="#">Sign Up </a>

			</div>







		</form>
		




	
	</div>




</div>


</body>
</html>